span{
    padding: 20px;
}

.nav{
    background-image: url(images/pizza3.jpeg);
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
}

.row>ul>li{
    display: flex;
    gap: 1em;
    list-style-type: none;
    justify-content: space-between;
    padding: 20px;
    float:right;
}

.msg{
    color: white;
    float: left;
    text-align: center;
    margin-top: 200px;
    text-shadow:black;
    margin-left: -400px;

}

#header>h1{
   text-align: center;
}
.imgs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.imgs .img1,.img2,.img3,.img4{
    padding: 20px;
    font-size: 20px;
    width: fit-content;
    text-align: center;
}



.imgs>.img1>img{
    width: 225px;
}

.imgs>.img2>img{
    width: 250px;
}

.imgs>.img3>img{
    width: 150px;
}

.imgs>.img4>img{
    width: 250px;
}


.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}

.images .img5,.img6,.img7,.img8{
    padding: 20px;
    font-size: 20px;
    width: fit-content;
    text-align: center;
}



.images>.img5>img{
    width: 200px;
}

.images>.img6>img{
    width: 140px;
}

.images>.img7>img{
    width: 200px;
}

.images>.img8>img{
    width: 200px;
}


h4{
    font-style: italic;
}


.head{
    text-align: center;
}

.form-select {
    height: 30px;
    margin: 20px;
    padding-left: 20px;
    width: 20px;
}
.form-control {
    height: 30px;
    margin: 20px;
    padding-left: 20px;
}

#order{
    margin-left: 200px;
    margin-bottom: 50px;
}

#submit{
    margin-left: 200px;
}


